$salmon: #F2ACB9; //twitter
$pink: #D9899E; //note
$green: #BFB6AE;
$orange:  #F2B4AE; //article
$beige: #F2D8D5;

$grayish: #CAB5B3;
$gray-dark: #786D6C;

$gray-700: #344054;
$gray-500: #667085;

$red: #ff495c;