@use 'styles/global' as *;
@use 'styles/utils' as *;

.wrapper {
    height: rem(380);
    max-width: rem(400);
    border-radius: 10px;
    box-shadow: 0 10px 30px -10px hsla(0, 0%, 0%, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-rows: .3fr 1fr;

    > * {
        padding: em(20) em(28);
    }

    .heading{
        &.note {
            background-color: $pink;
        }

        &.twitter {
            background-color: $salmon;
        }

        &.article {
            background-color: $orange;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}