@use 'styles/global' as *;

h1 {
    font-weight: $font-weight__bold;
    text-transform: capitalize;

    &.l {
        font-size: $font-size__l;
    }

    &.xl {
        font-size: $font-size__xl;
    }
}