@use 'styles/global' as *;
@use 'styles/utils' as *;

.buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(67);
    height: rem(67);
    border-radius: rem(20);
    border: none;
    cursor: pointer;
    
    .icon{
        height: rem(24);
    }

    .biggerIcon {
        height: rem(26);
    }

    &.active{
        background-color: white;
    }

    &.inactive{
        background-color: transparent;
    }
}