@use 'styles/global' as *;
@use 'styles/utils' as *;

.button {
    width: rem(220);
    height: rem(47);
    border: rem(4) solid;
    background-color: transparent;
    font-weight: 600;
    font-size: rem(16);
    text-transform: uppercase;
    cursor: pointer;

    &.note {
        border-color: $pink;
    }

    &.twitter {
        border-color: $salmon;
    }

    &.article{
        border-color: $orange;
    }
}

.note:hover{
    background-color: $pink;
}

.twitter:hover {
    background-color: $salmon;
}

.green:hover {
    background-color: $green;
}

.article:hover {
    background-color: $orange;
}

.secondary {
   @extend .button;
   background-color: $grayish;
   border: none;
   width: rem(105);
   height: rem(30);
   font-size: rem(10);
}

.secondary:hover{
    background-color: $red;
}