@use 'styles/global' as *;
@use 'styles/utils' as *;

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: rem(100);
    height: 100vh;
    background-color: $pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: em(20) em(10);
    gap: rem(40);

    &.note {
        background-color: $pink;
    }

    &.twitter {
        background-color: $salmon;
    }

    &.article {
        background-color: $orange;
    }

    .linkWrapper {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: rem(10);
        height: 100%;

        li:nth-last-child(1){
            margin-top: auto;
        }
    }
}